<!doctype html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="mobile-web-app-capable" content="yes">

	<link rel="apple-touch-icon" href="/netiveUI/resources/img/common/ico_app.png" >
	<link rel="shortcut icon" href="/netiveUI/resources/img/common/ico_favicon.ico"> 

	<title>Netive UI</title>

	<link rel="stylesheet" href="/netiveUI/resources/css/ui.base.css">

	<script src="/netiveUI/resources/js/lib/jquery-1.12.4.min.js"></script>
	<script src="/netiveUI/resources/js/lib/canvas-toBlob.js"></script>
	<script src="/netiveUI/resources/js/lib/FileSaver.js"></script>
	<script src="/netiveUI/resources/js/lib/html2canvas.js"></script>

	<script src="/netiveUI/resources/js/ui.base.js"></script>

	<style>
	.capSct{width:100%; max-width:680px; margin:0 0 2.0rem; overflow:hidden; background:#fff}
	.capSct h1{font-size:1.8rem}
	.capSct p{font-size:1.4rem; margin:0 0 0.2rem}
	.capSct img{width:100%}
	.capSct div{width:100%; margin:0}
	.capSct .logo-bg:after{top:17%; width:22%; height:32%}
	</style>
</head>

<body class="page-capture">
	<div class="base-skip" id="baseSkip"></div>
	<div class="base-layer" id="baseLayer"></div>
	<div class="base-wrap" id="baseWrap">
		<header class="base-header" id="baseHeader"></header>
		<div class="base-body" id="baseBody">
			<aside class="base-aside" id="baseAside"></aside>
			<main class="base-main" id="baseMain" role="main">
				<div class="tit-wrap">
					<h1 class="h-1">캡쳐</h1>
				</div>
				<p class="txts-m">지정된 영역을 캡쳐하여 이미지로 저장합니다.</p>

				<h2 class="h-2">Examples</h2>
				<div id="capSct" class="capSct mgt-m">
					<video-js data-account="5400155206001" data-player="SyyaHacoM" data-embed="default" controls="" data-video-id="6130246163001" data-playlist-id="" data-application-id="" width="300" height="150"></video-js><script src="https://players.brightcove.net/5400155206001/SyyaHacoM_default/index.min.js"></script>
					<span class="logo-bg">
					<img src="/netiveUI/resources/img/dummy/@iu1.jpg" alt="">
					</span>
					<h1>나의 아저씨</h1>
					<p>점선영역의 이미지와 텍스트를 캡쳐하여 이미지로 저장합니다.</p>
				</div>
				<button type="button" class="btn-base" id="uiCaptureBtn"><span>캡쳐하기</span></button>

				<h2 class="h-2">HTML Structure</h2>
				<h3 class="h-3">basic type</h3>
<div class="box-code">
<pre>
<code>
&lt;div id="capSct"&gt;
	...
&lt;/div&gt;
</code>
</pre>
</div>

				<h2 class="h-2">Javascript</h2>
				<h3 class="h-3">$plugins.uiCapture</h3>
<div class="box-code">
<pre>
<code>
$plugins<span class="na">.uiCapture</span>({ <span class="si">
	id:'capSct'</span> 
});
<span class="c">// id:'캡쳐할 영역의 아이디'
// 필수 라이브러리 : canvas-toBlob.js, FileSaver.js, html2canvas.js</span>
</code>
</pre>
</div>
			</main>
		</div>
		<footer class="base-footer" id="baseFooter"></footer>
	</div>

	<!-- only page script -->
	<script>
		;(function($, win, doc, undefined) {
			console.log('page ready before')
			$plugins.common.pageid = 'G_03_03_00_00';

			$(doc).ready(function(){
				
				console.log('page ready after')
				$('#uiCaptureBtn').on('click',function(){
					$plugins.uiCapture({ id: 'capSct' });
				});
			});
		})(jQuery, window, document);
	</script>

</body>
</html>
