
<input type="hidden" id="uiJsName" value="pageCountNumber">

<div class="tit-catagory">Components</div>
<div class="tit-wrap">
	<h1 class="h-1">Count Number</h1>
</div>

<h2 class="h-2">Examples</h2>
<h3 class="h-3">Step Count</h3>
','콤마를 자동 생성합니다.</p>
<div class="ui-count" id="exeCount1" style="font-size:5.0rem; color:#000; width:100%">504025.012</div>
<div class="btn-wrap txta-l">
	<button type="button" class="btn-base" onclick="$plugins.uiCountStep({ id:'exeCount1', value: 10245879.234 });">10245879 재실행</button>
</div>

<h3 class="h-3">Slot Count</h3>
<div class="ui-count" id="exeCount2" style="font-size:5.0rem; color:#000; width:100%">5040.25</div>
<div class="btn-wrap txta-l">
	<button type="button" class="btn-base" onclick="$plugins.uiCountSlot({ id:'exeCount2', value: 5040.25 });">재실행</button>
</div>

<h2 class="h-2">HTML Structure</h2>
<h3 class="h-3">basic type</h3>
<div class="box-code">
<pre>
<code>
&lt;div class="ui-count" id="exeCount1"&gt;504025&lt;/div&gt;
</code>
</pre>
</div>

<h2 class="h-2">Javascript</h2>
<h3 class="h-3">$plugins.uiCountStep</h3>
<div class="box-code">
<pre>
<code>
$plugins.uiCountStep({ 
	id:'exeCount1', 
	value: 504025 
});
</code>
</pre>
</div>

<h3 class="h-3">$plugins.uiCountSlot</h3>		
<div class="box-code">
<pre>
<code>
$plugins.uiCountSlot({ 
	id:'exeCount2', 
	value: 5040.25 
});
</code>
</pre>
</div>