<input type="hidden" id="uiJsName" value="pageFloating">

<div class="tit-catagory">Components Layout</div>
<div class="tit-wrap">
	<h1 class="h-1">Floating</h1>
	<em>date : 2020.06.10</em>
</div>
<p class="txts-m">특정위치에서 고정되거나 고정되었던 오브젝트가 원위치로 돌아가는 설정</p>

<h2 class="h-2">Examples</h2>
<h3 class="h-3">상단고정 → 원위치</h3>
<p>상단에 fixed로 고정에서 원위치로 들어가는 방식</p>
<div class="ui-floating" id="exeFix10">
	<div class="ui-floating-wrap">
		<div class="tst-obj">상단고정 → 원위치1</div>
	</div>
</div>
<div class="ui-floating" id="exeFix11">
	<div class="ui-floating-wrap">
		<div class="tst-obj">상단고정 → 원위치2</div>
	</div>
</div>	
<div class="ui-floating" id="exeFix12">
	<div class="ui-floating-wrap">
		<div class="tst-obj">상단고정 → 원위치3</div>
	</div>
</div>

<h3 class="h-3">원위치 → 상단고정</h3>
<p>특정위치에 도달하면 원위치에서 벗어나 상단에 fixed로 고정되는 방식</p>
<div class="ui-floating" id="exeFix1">
	<div class="ui-floating-wrap">
		<div class="tst-obj">원위치 → 상단고정1</div>
	</div>
</div>
<br><br>
<div class="ui-floating" id="exeFix2">
	<div class="ui-floating-wrap">
		<div class="tst-obj">원위치 → 상단고정2</div>
	</div>
</div>
<br><br>
<div class="ui-floating" id="exeFix3">
	<div class="ui-floating-wrap">
		<div class="tst-obj">원위치 → 상단고정3</div>
	</div>
</div>

<h3 class="h-3">하단고정 → 원위치</h3>
<p>하단에 fixed로 고정에서 원위치로 들어가는 방식</p>
<div class="ui-floating" id="exeFix4">
	<div class="ui-floating-wrap">
		<div class="tst-obj">하단고정 → 원위치1</div>
	</div>
</div>
<br><br>
<div class="ui-floating" id="exeFix5">
	<div class="ui-floating-wrap">
		<div class="tst-obj">하단고정 → 원위치2</div>
	</div>
</div>
<br><br>
<div class="ui-floating" id="exeFix6">
	<div class="ui-floating-wrap">
		<div class="tst-obj">하단고정 → 원위치3</div>
	</div>
</div>

<h3 class="h-3">원위치 → 하단고정</h3>
<p>특정위치에 도달하면 원위치에서 벗어나 하단에 fixed로 고정되는 방식</p>
<div class="ui-floating" id="exeFix7">
	<div class="ui-floating-wrap">
		<div class="tst-obj">원위치 → 하단고정1</div>
	</div>
</div>
<div class="ui-floating" id="exeFix8">
	<div class="ui-floating-wrap">
		<div class="tst-obj">원위치 → 하단고정2</div>
	</div>
</div>
<div class="ui-floating" id="exeFix9">
	<div class="ui-floating-wrap">
		<div class="tst-obj">원위치 → 하단고정3</div>
	</div>
</div>

<h2 class="h-2">HTML Structure</h2>
<h3 class="h-3">basic type</h3>
<div class="box-code">
<pre>
<code>
&lt;div <span class="na">class=</span><span class="s">"ui-floating"</span> <span class="na">id=</span><span class="s">"exeFix1"</span>&gt;
	&lt;div <span class="na">class=</span><span class="s">"ui-floating-wrap"</span>&gt;
		...
	&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
</div>

<h2 class="h-2">CSS Style</h2>
<h3 class="h-3">base style</h3>
<div class="box-code">
<pre>
<code>
.ui-floating-wrap {position:relative;}
.ui-fixed-bottom .ui-floating-wrap {position:fixed; bottom:0; left:0; z-index:999;}
.ui-fixed-top .ui-floating-wrap {position:fixed; top:0; left:0; z-index:999;}
</code>
</pre>
</div>
<h3 class="h-3">style : netive UI</h3>
<div class="box-code">
<pre>
<code>
.ui-floating {border:1px dashed rgb(230, 230, 230);}
.ui-floating-wrap {width:100%;}
</code>
</pre>
</div>

<h2 class="h-2">Javascript</h2>
<h3 class="h-3">$plugins.uiFloating</h3>
<h4 class="h-4">상단고정 → 원위치</h4>
<div class="box-code">
<pre>
<code>
<span class="c">// add 로 불러올 요소는 미리 실행이 되야한다.(실행 순서가 중요.)</span>
$plugins<span class="na">.uiFloating</span>({ <span class="s">id:'exeFix12', ps:'bottom', fix:true</span> });
$plugins<span class="na">.uiFloating</span>({ <span class="s">id:'exeFix11', ps:'bottom', add:'exeFix12', fix:true</span> });
$plugins<span class="na">.uiFloating</span>({ <span class="s">id:'exeFix10', ps:'bottom', add:'exeFix11', fix:true</span> });
</code>
</pre>
</div>

<h4 class="h-4">원위치 → 상단고정</h4>
<div class="box-code">
<pre>
<code>
$plugins<span class="na">.uiFloating</span>({ <span class="s">id:'exeFix1', ps:'top', fix:false</span> });
$plugins<span class="na">.uiFloating</span>({ <span class="s">id:'exeFix2', ps:'top', add:'exeFix1' fix:false</span> });
$plugins<span class="na">.uiFloating</span>({ <span class="s">id:'exeFix3', ps:'top', add:'exeFix2' fix:false</span> });
</code>
</pre>
</div>
			
<h4 class="h-4">하단고정 → 원위치</h4>
<div class="box-code">
<pre>
<code>
<span class="c">// add 로 불러올 요소는 미리 실행이 되야한다.(실행 순서가 중요.)</span>
$plugins<span class="na">.uiFloating</span>({ <span class="s">id:'exeFix6', ps:'bottom', fix:true</span> });
$plugins<span class="na">.uiFloating</span>({ <span class="s">id:'exeFix5', ps:'bottom', add:'exeFix6', fix:true</span> });
$plugins<span class="na">.uiFloating</span>({ <span class="s">id:'exeFix4', ps:'bottom', add:'exeFix5', fix:true</span> });
</code>
</pre>
</div>

<h4 class="h-4">원위치 → 하단고정</h4>
<div class="box-code">
<pre>
<code>
$plugins<span class="na">.uiFloating</span>({ <span class="s">id:'exeFix7', ps:'bottom', fix:false</span> });
$plugins<span class="na">.uiFloating</span>({ <span class="s">id:'exeFix8', ps:'bottom', add:'exeFix7', fix:false</span> });
$plugins<span class="na">.uiFloating</span>({ <span class="s">id:'exeFix9', ps:'bottom', add:'exeFix8', fix:false</span> });
</code>
</pre>
</div>	

<div class="tbl-base type-option" style="margin-bottom:100px">
	<table>
	<caption>옵션 설명</caption>
	<colgroup>
		<col class="n1">
		<col class="n2">
		<col class="n3">
		<col class="n4">
	</colgroup>
	<thead>
		<tr>
			<th scope="col">옵션명</th>
			<th scope="col">유형</th>
			<th scope="col">기본</th>
			<th scope="col">설명</th>
		</tr>
	</thead>
	<tbody>
		<tr class="nec">
			<th scope="row">id:</th>
			<td>[string]</td>
			<td></td>
			<td>(필수) fix follow를 적용 시킬 영역(ui-floating)의 id 명</td>
		</tr>
		<tr>
			<th scope="row">ps:</th>
			<td>[string]</td>
			<td>'top'</td>
			<td>고정될 위치 설정
				<ul>
				<li>'top' : 상단</li>
				<li>'bottom' : 하단</li>
				</ul>
			</td>
		</tr>
		<tr>
			<th scope="row">fix:</th>
			<td>[boolean]</td>
			<td>true</td>
			<td>고정되어 시작할지 여부
				<ul>
				<li>true : 고정에서 기본</li>
				<li>false : 기본에서 고정</li>
				</ul>
			</td>
		</tr>
		<tr>
			<th scope="row">add:</th>
			<td>[string]</td>
			<td></td>
			<td>고정되어 있는 오브젝트가 이미 있다면 그위치 다음으로 위치하기 위해 해당 영역의 아이디명 </td>
		</tr>
		<tr>
			<th scope="row">callback:</th>
			<td>[function]</td>
			<td>function</td>
			<td>콜백값으로 아이디와 현재스크롤위치값, 상태변경 위치값</td>
		</tr>
	</tbody>
	</table>
</div>
