<input type="hidden" id="uiJsName" value="pageInnerLabel">

<div class="tit-catagory">Contents Form</div>
<div class="tit-wrap">
	<h1 class="h-1">Inner Label</h1>
</div>

<h2 class="h-2">Examples</h2>
<p>입력란 안에 label이 들어가는 스타일로 좁은 공간이나 모바일 환경에서 많이 사용한다.</p>
<div class="box-base">
	<div class="in-wrap">
		<div class="in-item" style="background: #eee">
			<div class="field-inlabel">
				<em class="field-placeholder">Helper Text</em>
				<em class="ui-error-msg">Error message</em>
				<input type="text" id="test_a1" class="inp-base" value="" placeholder="placeholder text">
				<label class="field-inlabel-label" for="test_a1">Label Title</label>
			</div>
		</div>

		<div class="in-item" style="background: #eee">
			<div class="field-inlabel ui-error-true">
				<em class="field-placeholder">Helper Text</em>
				<em class="ui-error-msg">Error message</em>
				<input type="text" id="test_a2" class="inp-base" value="23" placeholder="placeholder text">
				<label class="field-inlabel-label" for="test_a2">Label Title</label>
			</div>
		</div>
	</div>
	<div class="in-wrap">
		<div class="in-item" style="background: #eee">
			<div class="field-inlabel">
				<em class="field-placeholder">Helper Text</em>
				<em class="ui-error-msg">Error message</em>
				<div class="ui-select">
					<select title="카드번호 선택" id="test_a3_s">
						<option disabled selected>선택하세요</option>
						<option value="1">신한카드 908*****2*5**</option>
						<option value="2">시티카드 908*****2*5**</option>
						<option value="3">현대카드 908*****2*5**</option>
					</select>
				</div>
				<label class="field-inlabel-label" for="test_a3_s">Card Select</label>
			</div>
		</div>

		<div class="in-item" style="background: #eee">
			<div class="field-inlabel">
				<em class="field-placeholder">Helper Text</em>
				<em class="ui-error-msg">Error message</em>
				<div class="ui-select">
					<select title="카드번호 선택" id="test_a4_s">
						<option disabled >선택하세요</option>
						<option value="1" selected>신한카드 908*****2*5**</option>
						<option value="2">시티카드 908*****2*5**</option>
						<option value="3">현대카드 908*****2*5**</option>
					</select>
				</div>
				<label class="field-inlabel-label" for="test_a4_s">Card Select</label>
			</div>
		</div>
	</div>
	<div class="in-wrap">
		<div class="in-item" style="background: #eee">
			<div class="field-inlabel">
				<em class="field-placeholder">Helper Text</em>
				<em class="ui-error-msg">Error message</em>
				<div class="ui-datepicker" id="test_a5_s" data-period="true" data-dual="true" data-title="테스트">
					<input type="tel" id="test_a5_s2" class="ui-datepicker-inp inp-base day-start" value="" data-min="2017-12-05" data-max="2022-12-30" title="시작일" placeholder="placeholder text" readonly>
					<label class="field-inlabel-label" for="test_a5_s2">Label Title</label>
					<button type="button" class="ui-datepicker-btn" aria-label="시작일 선택"></button>
					<div class="ui-datepicker-wrap"></div>
				</div>
			</div>
			<span class="field-text">~</span>
			<div class="field-inlabel">
				<em class="field-placeholder">Helper Text</em>
				<em class="ui-error-msg">Error message</em>
				<div class="ui-datepicker">
					<input type="tel" id="test_a5_s2_end" class="ui-datepicker-inp inp-base day-end" value="" data-min="2019-12-01" data-max="2020-12-30" title="종료일" readonly>
					<label class="field-inlabel-label" for="test_a6_s2">Label Title</label>
					<button type="button" class="ui-datepicker-btn" disabled aria-label="종료일 선택"></button>
				</div>
			</div>
		</div>
	</div>
	<div class="in-wrap">
		<div class="in-item" style="background: #eee">
			<div class="field-inlabel">
				<em class="field-placeholder">Helper Text</em>
				<em class="ui-error-msg">Error message</em>
				<textarea name="form_address" class="inp-base" placeholder="100글자 이내로 입력하세요." id="test_a7"></textarea>
				<label class="field-inlabel-label" for="test_a7">Label Title</label>
			</div>
		</div>

		<div class="in-item" style="background: #eee">
			<div class="field-inlabel">
				<em class="field-placeholder">Helper Text</em>
				<em class="ui-error-msg">Error message</em>
				<textarea name="form_address" class="inp-base" placeholder="100글자 이내로 입력하세요." id="test_a8">....</textarea>
				<label class="field-inlabel-label" for="test_a8">Label Title</label>
			</div>
		</div>
	</div>
</div>

<h2 class="h-2">HTML Structure</h2>
<div class="box-code">
<pre>
<code>
//base input
&lt;div class="field-inlabel"&gt;
	&lt;em class="field-placeholder"&gt;Helper Text&lt;/em&gt;
	&lt;input type="text" id="test_a1" class="inp-base" value="" placeholder="placeholder text"&gt;
	&lt;label for="test_a1"&gt;Label Title&lt;/label&gt;
&lt;/div&gt;

//select
&lt;div class="field-inlabel"&gt;
	&lt;em class="field-placeholder"&gt;Helper Text&lt;/em&gt;
	&lt;div class="ui-select"&gt;
		&lt;select title="카드번호 선택" id="test_a3_s"&gt;
			&lt;option disabled selected&gt;선택하세요&lt;/option&gt;
			&lt;option value="1"&gt;신한카드 908*****2*5**&lt;/option&gt;
			&lt;option value="2"&gt;시티카드 908*****2*5**&lt;/option&gt;
			&lt;option value="3"&gt;현대카드 908*****2*5**&lt;/option&gt;
		&lt;/select&gt;
	&lt;/div&gt;
	&lt;label class="field-inlabel-label" for="test_a3_s"&gt;Card Select&lt;/label&gt;
&lt;/div&gt;

//datepicker
&lt;div class="field-inlabel"&gt;
	&lt;em class="field-placeholder"&gt;Helper Text&lt;/em&gt;
	&lt;div class="ui-datepicker" id="test_a5_s" data-period="true" data-dual="true" data-title="테스트"&gt;
		&lt;input type="tel" id="test_a5_s2" class="ui-datepicker-inp inp-base day-start" value="" data-min="2017-12-05" data-max="2022-12-30" title="시작일" placeholder="placeholder text" readonly&gt;
		&lt;label class="field-inlabel-label" for="test_a5_s2"&gt;Label Title&lt;/label&gt;
		&lt;button type="button" class="ui-datepicker-btn" aria-label="시작일 선택"&gt;&lt;/button&gt;
		&lt;div class="ui-datepicker-wrap"&gt;&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

//textarea
&lt;div class="field-inlabel"&gt;
	&lt;em class="field-placeholder"&gt;Helper Text&lt;/em&gt;
	&lt;em class="ui-error-msg"&gt;Error message&lt;/em&gt;
	&lt;textarea name="form_address" class="inp-base" placeholder="100글자 이내로 입력하세요." id="test_a7"&gt;&lt;/textarea&gt;
	&lt;label class="field-inlabel-label" for="test_a7"&gt;Label Title&lt;/label&gt;
&lt;/div&gt;
</code>
</pre>
</div>

<h2 class="h-2">CSS Style</h2>
<h3 class="h-3">base style</h3>
<div class="box-code">
<pre>
<code>
.field-inlabel {position:relative; padding:0 0 40px; display:inline-block; vertical-align:top;}
.field-inlabel > *{vertical-align:top;}
.field-inlabel .field-inlabel-label{position:absolute; top:0; left:10px; transform:translate(0, 9px); font-size:14px; color:#888; cursor:text; 
transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1), font-size 150ms; z-index:1;}
.field-inlabel .inp-base + .field-inlabel-label{transform:translate(0, 9px); color:#888; font-size:14px;}
.field-inlabel .inp-base.activated + .field-inlabel-label,
.field-inlabel.activated .inp-base + .field-inlabel-label,
.field-inlabel .inp-base:focus + .field-inlabel-label{transform:translate(0, -9px); color:#000; font-size:12px;}
.field-inlabel .inp-base:focus{background:rgb(245, 251, 253);}
.field-inlabel .ui-select.is-null.activated select{color:#000}
.field-inlabel .ui-select.is-null .ui-select-btn,
.field-inlabel .ui-select.is-null select{color:transparent}
.field-inlabel .ui-select.is-null select option{color:#000}
.field-inlabel .ui-select select{outline:0;}
.field-inlabel .ui-select + .field-inlabel-label{transform:translate(0, 9px); color:#888; font-size:14px;}
.field-inlabel .ui-select.activated + .field-inlabel-label{transform:translate(0, -9px); color:#000; font-size:12px;}
.field-inlabel .ui-select.activated + .field-inlabel-label:after{padding:0 5px; top:8px; left:-5px; z-index:-1; border-top:3px solid #fff; transition-delay: 150ms;}
/*line*/
.field-inlabel .field-inlabel-label:after{content:""; position:absolute; top:8px; left:0; display:block; width:100%; height:1px; z-index:-1; border-top:3px solid #fff; 
transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1), padding 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.field-inlabel .inp-base.activated + .field-inlabel-label:after,
.field-inlabel.activated .inp-base + .field-inlabel-label:after,
.field-inlabel .inp-base:valid + .field-inlabel-label:after,
.field-inlabel .inp-base:focus + .field-inlabel-label:after{padding:0 5px; top:8px; left:-5px; z-index:-1; border-top:3px solid #fff; transition-delay: 150ms;}
.field-inlabel .ui-error-msg,
.field-inlabel .placeholder{position: absolute; left:0; padding:0 10px; bottom:23px; line-height:1.2; margin:0;}
.field-inlabel .ui-select .ui-error-msg{top:42px;}
.field-inlabel.ui-error-true .placeholder{display:none;}
.field-inlabel .inp-base::-webkit-input-placeholder{color:transparent;}
.field-inlabel .inp-base:-ms-input-placeholder{color:transparent;}
.field-inlabel .inp-base::placeholder {color:transparent;}
.field-inlabel .inp-base:focus::-webkit-input-placeholder{color:#999;}
.field-inlabel .inp-base:focus:-ms-input-placeholder{color:#999;}
.field-inlabel .inp-base:focus::placeholder {color:#999;}
.field-outlabel {position:relative; padding:20px 0 30px; display:inline-block; vertical-align:top;}
.field-outlabel label{position:absolute; top:0; display:block; margin-bottom:2px; padding-left:10px;}
.field-outlabel .ui-error-msg,
.field-outlabel .placeholder{position: absolute; left:0; padding:0 10px; top:65px; line-height:1.2; margin:0;}
.field-outlabel .ui-select .ui-error-msg{top:65px;}
.field-outlabel.ui-error-true .placeholder{display:none;}
</code>
</pre>
</div>


<h2 class="h-2">Javascript</h2>
<h3 class="h-3">$plugins.uiInnerLabel</h3>
<div class="box-code">
<pre>
<code>
<span class="nt">&lt;script <span class="na">src=</span><span class="s">"/netiveUI/resources/js/ui.global.js"</span>&gt;&lt;/script&gt;</span>
<span class="nt">&lt;script&gt;</span>
;(function($, win, doc, undefined) {
	$(doc).ready(function(){
		
		$plugins<span class="na">.uiInnerLabel</span>();

	});
})(jQuery, window, document);
<span class="nt">&lt;/script&gt;</span>
</code>
</pre>
</div>
