<input type="hidden" id="uiJsName" value="pageInputPlaceholder">

<div class="tit-catagory">Components Form</div>
<div class="tit-wrap">
	<h1 class="h-1">Input Placeholder</h1>
</div>

<p class="txts-m">스크린리더기에서 읽히지 않은 문제를 보완하기 위해 구현</p>


<h2 class="h-2">Examples</h2>
<div class="in-wrap">
    <div class="in-item">
        <label for="mem_이름">이름</label>
        <input type="text" id="mem_이름" vchecktype="kr" class="inp-base" value="" placeholder="한글로만 1자 이상 입력하세요." >
    </div>
</div>


<h2 class="h-2">HTML Structure</h2>
<div class="box-code">
<pre>
<code>
<span class="c">//스크립트 실행 전</span>
&lt;input type="text" id="mem_이름" vchecktype="kr" class="inp-base" value="" placeholder="한글로만 1자 이상 입력하세요."&gt;

<span class="c">//스크립트 실행 후</span>
&lt;span class="hide ui-placeholder"&gt;한글로만 1자 이상 입력하세요.&lt;/span&gt;
&lt;input type="text" id="mem_이름" vchecktype="kr" class="inp-base" value="" placeholder="한글로만 1자 이상 입력하세요."&gt;
</code>
</pre>
</div>

<h2 class="h-2">Javascript</h2>
<h3 class="h-3">$plugins.uiPlaceholder</h3>
<div class="box-code">
<pre>
<code>
$plugins.uiPlaceholder();
</code>
</pre>
</div>
