<input type="hidden" id="uiJsName" value="pageInputClear">

<div class="tit-catagory">Components Form</div>
<div class="tit-wrap">
	<h1 class="h-1">Input Clear</h1>
</div>

<p class="txts-m">IE에서 input 태그의 text 속성을 가지는 입력폼을 사용하는 경우 자동으로 생성되는 X버튼 기능구현</p>


<h2 class="h-2">Examples</h2>
<div class="in-wrap">
    <div class="in-item">
        <input type="text" id="a7" class="inp-base ui-inpcancel" value="" placeholder="입력해주세요">
    </div>
    <div class="in-item mgl-s">
        <input type="text" id="a8" class="inp-base ui-inpcancel" value="아이유" placeholder="입력해주세요">
    </div>
</div>


<h2 class="h-2">HTML Structure</h2>
<div class="box-code">
<pre>
<code>
<span class="c">//value 값이 없는 경우</span>
&lt;input type="text" id="a7" class="inp-base ui-inpcancel"&gt;

<span class="c">//value 값 입력 시 생성</span>
&lt;input type="text" id="a7" class="inp-base ui-inpcancel" value="test"&gt;
&lt;button type="button" class="ui-inpcancel-btn" data-id="a7"&gt;&lt;span&gt;clear&lt;/span&gt;&lt;/button&gt;
</code>
</pre>
</div>

<h2 class="h-2">CSS Style</h2>
<h3 class="h-3">base style</h3>
<div class="box-code">
<pre>
<code>
.ui-inpcancel-btn {display:inline-block; position:absolute; margin-left:-40px; width:40px; height:40px; }
.ui-inpcancel-btn span {position:relative; font-family:'Material Icons'; display:block; left:10px; width:20px; height:20px; background:transparent; overflow:hidden; font-weight:600; font-size:20px; color:#000;}
</code>
</pre>
</div>

<h2 class="h-2">Javascript</h2>
<h3 class="h-3">$plugins.uiInputClear</h3>
<div class="box-code">
<pre>
<code>
$plugins.uiInputClear();
</code>
</pre>
</div>
