
<input type="hidden" id="uiJsName" value="pageJsonCodingList">

<div class="tit-catagory">Components</div>
<div class="tit-wrap">
	<h1 class="h-1">Json Coding List</h1>
</div>

<p class="txts-m">IA엑셀 문서 기준으로 만들어진 json파일형식의 엑셀에서 변환한 json파일로 자동 생성 관리<br>
일정관리를 엑셀문서로 진행하여 공유</p>

<h2 class="h-2">Examples</h2>
<div class="ui-codinglist" id="uiCodinglist"></div>

<h3 class="h-3">코딩 리스트 설명</h3>
<dl class="bul-dot">
	<div style="display:inline-block; vertical-align:top; margin:0 20px 0 0; ">
		<dt>상태</dt>
		<dd>대기 : 작업 전 (white)</dd>
		<dd>검수 : 작업 완료 / 검수 전 (yellow)</dd>
		<dd>완료 : 작업 완료 / 검수 완료 (violet)</dd>
	</div>
	<div style="display:inline-block; vertical-align:top; margin:0 20px 0 0; ">
		<dt>일정</dt>
		<dd>일정 : 작업완료 예정일</dd>
		<dd>완료일 : 작업 완료일</dd>
		<dd>수정일 : 작업 완료 후 수정한 일</dd>
	</div>
	<div style="display:inline-block; vertical-align:top; margin:0 20px 0 0;">
		<dt>배경색</dt>
		<dd>black : 일정지연</dd>
		<dd>skyblue : 예정일정 3일전</dd>
	</div>
</dl>


<h3 class="h-3">코딩 리스트 excel</h3>
<p>IA엑셀 문서에서 필요한 정보를 셀을 복사하여 구성한다. excel파일에 IA문서 버전을 기록하면 버전관리에 도움이 된다.</p>
<div class="btn-wrap txta-l">
	<a href="/netiveUI/resources/data/codinglist.xlsx" class="btn-base"><span>샘플 코딩리스트 excel 다운로드</span></a>
</div>


<h2 class="h-2">HTML Structure</h2>
<div class="box-code">
<pre>
<code>
&lt;div <span class="na">class=</span><span class="s">"ui-codinglist"</span> <span class="na">id=</span><span class="s">"uiCodinglist"</span>&gt;&lt;/div&gt;
</code>
</pre>
</div>

				

<h2 class="h-2">Javascript</h2>
<h3 class="h-3">코딩 리스트 json</h3>
<p>코딩 리스트 excel파일의 data를 드래그 카피하여 지정된 json파일에 복사한다.</p>
<div class="box-code">
<pre>
<code>
{"list":[
	{"state":"상태","date":"일정","enddate":"종료일","pub":"퍼블","id":"화면ID","d1":"D1","d2":"D2","d3":"D3","d4":"D4","d5":"D5","d6":"D6","d7":"D7","d8":"D8","r1":"경로","r2":"","r3":"","r4":"","page":"","memo":"메모"},
	{"state":"완료","date":"180131","enddate":"171217","pub":"조현민","id":"form","d1":"UI","d2":"form","d3":"radio&checkbox","d4":"","d5":"","d6":"","d7":"","d8":"","r1":"ui","r2":"","r3":"","r4":"","page":"","memo":""}
]}
</code>
</pre>
</div>

<h3 class="h-3">$plugins.uiCodinglist</h3>
<div class="box-code">
<pre>
<code>
$plugins<span class="na"></span>.uiCodinglist</span>({ <span class="si">id:'uiCodinglist', url:'/netiveUI/resources/data/codinglist.json', type:'json'</span>});
</code>
</pre>
</div>
<div class="tbl-base type-option">
	<table>
	<caption>옵션 설명</caption>
	<colgroup>
		<col class="col-xxs">
		<col class="col-xxs">
		<col class="col-xxs">
		<col class="col-auto">
	</colgroup>
	<thead>
		<tr>
			<th scope="col">옵션명</th>
			<th scope="col">유형</th>
			<th scope="col">기본</th>
			<th scope="col">설명</th>
		</tr>
	</thead>
	<tbody>
		<tr class="nec">
			<th scope="row">id:</th>
			<td>[string]</td>
			<td>'name'</td>
			<td>(필수) 코딩리스트를 적용 시킬 영역(ui-codinglist)의 id 명</td>
		</tr>
		<tr class="nec">
			<th scope="row">url:</th>
			<td>[string]</td>
			<td>'link'</td>
			<td>(필수) 코딩리스트 정보를 불러올 json or html 파일 경로</td>
		</tr>
		<tr>
			<th scope="row">type:</th>
			<td>[string]</td>
			<td>'json'</td>
			<td>문서타입 설정. 기본으로 json 문서 타입 설정됨
				<ul>
				<li>'json'</li>
				<li>'html'</li>
				</ul>
			</td>
		</tr>
	</tbody>
	</table>
</div>
