<input type="hidden" id="uiJsName" value="pageParallax">

<div class="ui-parallax">
	<section class="ui-parallax-item" start="100" end="0">
		<div class="parallax-cont">
			<div class="tit-catagory">Components Layout</div>
			<div class="tit-wrap">
				<h1 class="h-1">Parallax Scroll</h1>
			</div>

			<h2 class="h-2">Examples</h2>
			<p>스크롤 이벤트로 컨텐츠를 보이고 안보이게 설정합니다.</p>

		</div>
	</section>

	<section class="ui-parallax-item parallax-test" start="100" end="20">
		<div class="parallax-cont">
			<b>A</b>
		</div>
	</section>

	<section class="ui-parallax-item parallax-test" start="70" end="20">
		<div class="parallax-cont">
			<b>B</b>
		</div>
	</section>

	<section class="ui-parallax-item parallax-test" start="50" end="20">
		<div class="parallax-cont">
			<b>C</b>
		</div>
	</section>

	<section class="ui-parallax-item parallax-test" start="50" end="20">
		<div class="parallax-cont">
			<b>D</b>
		</div>
	</section>



	<section class="ui-parallax-item" start="50" end="20">
		<div class="parallax-cont">
			<h2 class="h-2">HTML Structure</h2>
<div class="box-code">
<pre>
<code>
&lt;div class="ui-parallax&gt;
	&lt;section class="ui-parallax-item" start="0" end="0"&gt;
		...
	&lt;/section&gt;
	&lt;section class="ui-parallax-item" start="0" end="0"&gt;
		...
	&lt;/section&gt;
	...
&lt;/div&gt;
</code>
</pre>
</div>
		</div>
	</section>

	<section class="ui-parallax-item" start="70" end="20">
		<div class="parallax-cont">
			<h2 class="h-2">CSS Style</h2>
<div class="box-code">
<pre>
<code>
.ui-parallax-item {position:relative;}
</code>
</pre>
</div>
		</div>
	</section>

	<section class="ui-parallax-item" start="73" end="20">
		<div class="parallax-cont">
			<h2 class="h-2">Javascript</h2>
<h3 class="h-3">$plugins.uiParallax</h3>
<div class="box-code">
<pre>
<code>
$plugins.uiParallax({
	callback:function(v) {
		console.log(v);
	}
});
</code>
</pre>
</div>
		</div>
	</section>
</div>

				


