
<input type="hidden" id="uiJsName" value="pagePrint">

<div class="tit-catagory">Components</div>
<div class="tit-wrap">
	<h1 class="h-1">Print</h1>
</div>
<p class="txts-m">특정영역만 프린트를 해야하는 경우에 사용.</p>

<h2 class="h-2">Examples</h2>
<div print-id="prtSct" class="mgt-m" style="padding:10px; border:1px dashed #ccc; margin:10px 0; display:inline-block; width:auto;">
	<img src="/netiveUI/resources/img/dummy/@iu1.jpg" alt="">
	<h1>나의 아저씨</h1>
	<p>점선영역의 이미지와 텍스트를 프린트합니다.</p>

</div>
<br>
<button type="button" class="btn-base" id="prtTest"><span>프린트</span></button>

<h2 class="h-2">HTML Structure</h2>
<div class="box-code">
<pre>
<code>
//실행 전
&lt;body&gt;
	&lt;div print-id="prtSct"&gt;
		....			
	&lt;/div&gt;
&lt;/body&gt;

//실행 후
&lt;body class="ui-print-ing"&gt;
	&lt;div print-id="prtSct"&gt;
		....			
	&lt;/div&gt;
	&lt;div class="ui-print"&gt;
		&lt;div print-id="prtSct"&gt;
			....			
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/body&gt;
</code>
</pre>
</div>
		
<h2 class="h-2">CSS Style</h2>
<h3 class="h-3">base style</h3>
<div class="box-code">
<pre>
<code>
body.ui-print-ing > * {display:none}
body.ui-print-ing .ui-print {display:flex; width:100%; height:100%; justify-content: center; align-items: center; position:fixed; opacity:0.5}
@media print {
	body.ui-print-ing > * {display:none}
	body.ui-print-ing .ui-print { display:block; opacity:1; position: relative;}
} 
</code>
</pre>
</div>

<h2 class="h-2">Javascript</h2>
<h3 class="h-3">$plugins.uiPrint</h3>
<div class="box-code">
<pre>
<code>
$plugins<span class="na">.uiPrint</span>({ <span class="si">
	id:'prtSct'</span> 
});

※ IE 에서 프린트 미리보기 기능을 사용하기 위한 설정이다.
- 도구 > 인터넷 옵션 > 보안 탭 > 신뢰할 수 있는 사이트 선택
1. 사이트 버튼 클릭 > 사이트 추가
2. 사용자 지정 수준 클릭 > 스크립팅하기 안전하지 않은 것으로 표시된 ActiveX 컨트롤 (사용)으로 체크
</code>
</pre>
</div>

<div class="tbl-base type-option">
	<table>
		<caption>옵션 설명</caption>
		<colgroup>
			<col class="n1">
			<col class="n2">
			<col class="n3">
			<col class="n4">
		</colgroup>
		<thead>
			<tr>
				<th scope="col">옵션명</th>
				<th scope="col">유형</th>
				<th scope="col">기본</th>
				<th scope="col">설명</th>
			</tr>
		</thead>
		<tbody>
			<tr class="nec">
				<th scope="row">id:</th>
				<td>[string]</td>
				<td>'name'</td>
				<td>(필수) 프린트할 영역의 print-id</td>
			</tr>
		</tbody>
	</table>
</div>
