<input type="hidden" id="uiJsName" value="pageScrollMove">

<div class="tit-catagory">Components</div>
<div class="tit-wrap">
	<h1 class="h-1">Scroll Move</h1>
</div>
<p class="txts-m">특정위치로 스크롤 이동 시 사용</p>

<h2 class="h-2">Examples</h2>
<h3 class="h-3">Horizontal Scroll Move</h3>
<div style="width:500px">
	<div class="test-scroll-left ui-scrollbar">
		<div class="btn-wrap">
			<button type="button" class="ui-tab-btn"><span>1</span></button>
			<button type="button" class="ui-tab-btn"><span>2</span></button>
			<button type="button" class="ui-tab-btn"><span>3</span></button>
			<button type="button" class="ui-tab-btn"><span>4</span></button>
			<button type="button" class="ui-tab-btn"><span>5</span></button>
			<button type="button" class="ui-tab-btn"><span>6</span></button>
			<button type="button" class="ui-tab-btn"><span>7</span></button>
			<button type="button" class="ui-tab-btn"><span>8</span></button>
		</div>
	</div>
</div>

<div class="btn-wrap text-scroll-left txta-l">
	<button type="button" class="btn-base" data-n="0"><span>1번 이동</span></button>
	<button type="button" class="btn-base" data-n="1"><span>2번 이동</span></button>
	<button type="button" class="btn-base" data-n="2"><span>3번 이동</span></button>
	<button type="button" class="btn-base" data-n="3"><span>4번 이동</span></button>
	<button type="button" class="btn-base" data-n="4"><span>5번 이동</span></button>
	<button type="button" class="btn-base" data-n="5"><span>6번 이동</span></button>
	<button type="button" class="btn-base" data-n="6"><span>7번 이동</span></button>
	<button type="button" class="btn-base" data-n="7"><span>8번 이동</span></button>
</div>

<h3 class="h-3">Vertical Scroll Move</h3>
<div class="box-base" style="height:300px; overflow-y: scroll; padding:0;" id="testBoxScroll">

	<div class="ui-parallax" id="scrollBoxTest1">
		<section class="ui-parallax-item parallax-test" start="0" end="50">
			<div class="parallax-cont">
				<b>A</b>
			</div>
		</section>

		<section class="ui-parallax-item parallax-test" start="50" end="50">
			<div class="parallax-cont">
				<b>B</b>
			</div>
		</section>

		<section class="ui-parallax-item parallax-test" start="50" end="50">
			<div class="parallax-cont">
				<b>C</b>
			</div>
		</section>

		<section class="ui-parallax-item parallax-test" start="50" end="50">
			<div class="parallax-cont">
				<b>D</b>
			</div>
		</section>
	</div>
</div>
<div class="btn-wrap txta-l">
	<button type="button" class="btn-base" id="scrolltop"><span>TOP</span></button>
	<button type="button" class="btn-base" id="scrolltop2"><span>BOOTOM</span></button>
</div>


<h2 class="h-2">Javascript</h2>
<h3 class="h-3">$plugins.uiScroll</h3>
<div class="box-code">
<pre>
<code>
$plugins<span class="na">.uiScroll</span>({ <span class="s">
	value: 0,
	speed: 0,
	callback: false,
	ps: 'top',
	addLeft: 0,
	focus: false,
	target: 'html, body'</span> 
});
</code>
</pre>
</div>	

<div class="tbl-base type-option">
	<table>
		<caption>옵션 설명</caption>
		<colgroup>
			<col class="n1">
			<col class="n2">
			<col class="n3">
			<col class="n4">
		</colgroup>
		<thead>
			<tr>
				<th scope="col">옵션명</th>
				<th scope="col">유형</th>
				<th scope="col">기본</th>
				<th scope="col">설명</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">value:</th>
				<td>[number]</td>
				<td>0</td>
				<td>스크롤이 갈 위치값</td>
			</tr>
			<tr>
				<th scope="row">speed:</th>
				<td>[number]</td>
				<td>300</td>
				<td>스크롤속도</td>
			</tr>
			<tr>
				<th scope="row">addLeft:</th>
				<td>[number]</td>
				<td>0</td>
				<td>가로 이동 시 이동값 추가</td>
			</tr>
			<tr>
				<th scope="row">target:</th>
				<td>[string][object]</td>
				<td>'html, body'</td>
				<td>스크롤 영역으로 해당 아이디명 기입. 기본으로 html,body로 설정됨</td>
			</tr>
			<tr>
				<th scope="row">ps:</th>
				<td>[string]</td>
				<td>'top'</td>
				<td>스크롤 방향
					<ul>
					<li>'top' : 상하 이동 </li>
					<li>'left' : 좌우 이동 </li>
					</ul>
				</td>
			</tr>
			
			<tr>
				<th scope="row">focus:</th>
				<td>[string][object]</td>
				<td>false</td>
				<td>스크롤 완료 후 포커스 갈 위치의 id or $(...)</td>
			</tr>
			<tr>
				<th scope="row">callback:</th>
				<td>[function]</td>
				<td></td>
				<td>
					<ul>
					<li>이동 시 : 스크롤 좌표값, complete = false </li>
					<li>완료 시 : 이동할 포커스 아이디명, complete = true </li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</div>
				

			