<input type="hidden" id="uiJsName" value="pageSelect">

<div class="tit-catagory">Components Form</div>
<div class="tit-wrap">
	<h1 class="h-1">Select</h1>
</div>

<h2 class="h-2">Examples</h2>
<h3 class="h-3">CSS Design</h3>
<p>CSS로 스타일 표현하나 IE등 일부 브라우저에서는 지원을 안함.</p>
<fieldset class="mgt-s">
	<legend>기본 스타일</legend>
	<select title="년도 선택" id="sel1">
		<option value="1" selected>2018</option>
		<option value="2">2017</option>
		<option value="3">2016</option>
		<option value="4">2015</option>
	</select>
</fieldset>

<h3 class="h-3">Custom Select</h3>
<p>모든 브라우저에서 동일한 UI와 디자인으로 접근 가능. option도 디자인 표현이 가능 </p>			
<div class="in-wrap mgt-s">
	<fieldset >
		<legend>지역선택</legend>

		<div class="in-item mgr-xxs">
			<label for="forSelLocal" class="lb-tit ui-select-label">아이유 앨범</label>
			<div class="ui-select type-tel">
				<select title="Palette 선택" id="forSelLocal">
					<option value="1">이 지금</option>
					<option value="2">팔레트</option>
					<option value="3">이런 엔딩</option>
					<option value="4">사랑이 잘</option>
				</select>
			</div>
		</div>
		<div class="in-item">
			<div class="ui-select type-bank">
				<select title="Palette 앨범" id="uiSel1" onchange="console.log(this.value);">
					<option value="1">이 지금</option>
					<option value="2">팔레트(Feat. G-DRAGON)</option>
					<option value="3">이런 엔딩</option>
					<option value="4">사랑이 잘(with 오혁)</option>
					<option value="5">잼잼</option>
					<option value="6">Black Out</option>
					<option value="7">마침표</option>
					<option value="8">밤편지(Through the Night)</option>
					<option value="9">그렇게 사랑은</option>
					<option value="10">이름에게</option>
				</select>
			</div>
		</div>
		<div class="ui-select">
			<select title="축제연도 선택" id="selYears">
				<option value="h2020" selected>2020</option>
				<option value="h2019">2019</option>
				<option value="h2018">2018</option>
				<option value="h2017">2017</option>
				<option value="h2016">2016</option>
				<option value="h2015">2015</option>
				<option value="h2014">2014</option>
				<option value="h2013">2013</option>
				<option value="h2012">2012</option>
				<option value="h2011">2011</option>
				<option value="h2010">2010</option>
				<option value="h2009">2009</option>
				<option value="h2008">2008</option>
				<option value="h2007">2007</option>
				<option value="h2006">2006</option>
				<option value="h2005">2005</option>
				<option value="h2004">2004</option>
				<option value="h2003">2003</option>
			</select>
		</div>
	</fieldset>
</div>
<div class="in-wrap mgt-s">
	<div class="in-item mgr-xxs">
		<button type="button" class="btn-base" id="changeOption">동적 셀렉트 옵션 변경</button>
	</div>
	<div class="in-item">
		<div class="ui-select" style="width:100px">
			<select title="구 선택" id="uiSel2" onchange="alert(this.value)" >
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>
		</div>
	</div>
</div>

<h2 class="h-2">HTML Structure</h2>
<div class="box-code">
<pre>
<code>

&lt;label <span class="na">for=</span><span class="s">"forSelLocal"</span> <span class="na">class=</span><span class="s">"ui-select-label"</span>&gt;아이유 앨범&lt;/label&gt;
//스크립트 적용 전
&lt;div <span class="na">class=</span><span class="s">"ui-select"</span>&gt;
	&lt;select <span class="na">title=</span><span class="s">"Palette 선택"</span> <span class="na">id=</span><span class="s">"forSelLocal"</span>&gt;
		&lt;option <span class="na">value=</span><span class="s">"1"</span>&gt;밤편지&lt;/option&gt;
		&lt;option <span class="na">value=</span><span class="s">"2"</span>&gt;잼잼&lt;/option&gt;
	&lt;/select&gt;
&lt;/div&gt;

//스크립트 적용 후
&lt;div class="ui-select"&gt;
	&lt;select title="Palette 선택" id="forSelLocal" <b>class="hidden" aria-hidden="true" tabindex="-1"</b>&gt;
		&lt;option value="1"&gt;밤편지&lt;/option&gt;
		&lt;option value="2"&gt;잼잼&lt;/option&gt;
	&lt;/select&gt;
	<b>
	&lt;button type="button" class="ui-select-btn" id="forSelLocal_inp" role="combobox" aria-autocomplete="list" aria-owns="forSelLocal_list" aria-haspopup="true" aria-expanded="false" aria-activedescendant="forSelLocal_opt_0" data-n="0" data-id="forSelLocal"&gt;
		&lt;span&gt;밤편지&lt;/span&gt;
	&lt;/button&gt;
	&lt;div class="ui-select-wrap ui-scrollbar ready view-scrollbar" scroll-id="uiSelectScrollBar_3" aria-hidden="true" style="overflow: hidden; height: 162px;"&gt;
		&lt;div class="ui-scrollbar-barwrap type-y"&gt;
			&lt;button type="button" class="ui-scrollbar-bar" aria-hidden="true" tabindex="-1" data-scrollxy="y" style="height: 101%; top: 0%;"&gt;
				&lt;span class="hide"&gt;scroll&lt;/span&gt;
			&lt;/button&gt;
		&lt;/div&gt;
		&lt;div class="ui-scrollbar-barwrap type-x"&gt;
			&lt;button type="button" class="ui-scrollbar-bar" aria-hidden="true" tabindex="-1" data-scrollxy="x" style="width: 101%; left: 0%;"&gt;
				&lt;span class="hide"&gt;scroll&lt;/span&gt;
			&lt;/button&gt;
		&lt;/div&gt;
		&lt;div class="ui-scrollbar-item" tabindex="0" style="width: 100%;"&gt;
			&lt;div class="ui-scrollbar-wrap" style="display: block; padding: 0px; width: 100%;"&gt;
				&lt;strong class="ui-select-title"&gt;Palette 선택&lt;/strong&gt;
				&lt;div class="ui-select-opts" role="listbox" id="forSelLocal_list" aria-hidden="false"&gt;
					&lt;button type="button" role="option" id="forSelLocal_opt_0" class="ui-select-opt" value="1"&gt;
						&lt;span class="ui-select-txt"&gt;밤편지&lt;/span&gt;
					&lt;/button&gt;
					...
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	</b>
&lt;/div&gt;
</code>
</pre>
</div>


<h2 class="h-2">CSS Style</h2>
<h3 class="h-3">base style</h3>
<div class="box-code">
<pre>
<code>
.ui-select {position:relative; display:inline-block;}
.ui-select select {width:100%;}
.ui-select-btn {display:inline-block; position:relative; text-align:left; vertical-align:top; width:100%; height:40px; padding:0 35px 0 10px; border-radius:2px; border:1px solid #c9c9c9; font-size:14px; cursor:pointer; outline:0; box-sizing:border-box; text-overflow:ellipsis;}
.ui-select-btn:after {content:"keyboard_arrow_down"; font-family: 'Material Icons'; display:block; position:absolute; right:10px; top:50%; margin-top:-10px; width:18px; height:20px; float:right; overflow:hidden; color:#000; font-size:20px; line-height: 1;}
.ui-select-btn span {display:inline-block; width:100%; text-align:left; word-break:nowrap; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; text-align:left}
.ui-select-btn[aria-expanded="true"],
.ui-select-btn:focus,
.ui-select-btn:active {border-color:#000; box-shadow:0 0 5px rgba(0,0,0,0.7)}
.ui-select-btn[aria-expanded="true"]:after,
.ui-select-btn:focus:after,
.ui-select-btn:active:after{content:"keyboard_arrow_up";}
.ui-select-wrap.on {display:block}
.ui-select-wrap.top {bottom:39px}
.ui-select-wrap.bottom {top:39px}
.ui-select-wrap {display:none; position:absolute; z-index:100; left:0; width:auto; border:1px solid #000; background:#fff; overflow-y:auto; max-height:162px}
.ui-select-wrap.ui-scrollbar {position: absolute; min-height:162px}
.ui-select-opts{overflow:hidden; width:100%;}
.ui-select-opt {display:block; float:left; width:100%; padding:5px 20px 5px 10px; font-size:14px; height:40px; text-align:left; background:#fff; white-space:nowrap}
.ui-select-opt.selected {font-weight:700; text-decoration:underline; background:#444; color:#fff;}
.ui-select-opts input:focus,
.ui-d .ui-select-opt:focus,
.ui-d .ui-select-opt:hover {background:#444; color:#fff;}
.ui-select-title {display:none; position:absolute; top:0; left:0;}
</code>
</pre>
</div>



<h2 class="h-2">Javascript</h2>
<h3 class="h-3">$plugins.uiSelect()</h3>
<p>현재 select box기준으로 디자인 select 생성. 첫적용이나 동적인 변경이 있을때 사용한다. 특히 동적인 변경일 경우는 id로 개별 실행해주는게 좋다.</p>
<div class="box-code">
<pre>
<code>
//전체 실행
$plugins.uiSelect();

//개별 실행
$plugins.uiSelect({ 
	id: false, 
	current: null,
	customscroll: true,
	callback: false
});
</code>
</pre>
</div>
<h3 class="h-3">$plugins.uiSelectAction()</h3>
<p>마우스, 키보드 이벤트가 아닌 option값 선택을 할 때 사용. $plugins.uiSelect()을 사용해도 되나 불필요한 재구성을 하지 않아 값변경 시에는 $plugins.uiSelectAction를 사용한다. </p>
<div class="box-code">
<pre>
<code>
$plugins.uiSelectAction({ 
	id:'forSelLocal', 
	current:0,
	callback:function(v){console.log(v)}
});
</code>
</pre>
</div>
		
<div class="tbl-base type-option">
	<table>
		<caption>
			<strong>selectg 기본 옵션</strong>
			<p class="ui-caption"></p>
		</caption>
		<colgroup>
			<col class="col-xs">
			<col class="col-xs">
			<col class="col-xs">
			<col class="col-auto">
		</colgroup>
		<thead>
			<tr>
				<th scope="col">옵션명</th>
				<th scope="col">유형</th>
				<th scope="col">기본</th>
				<th scope="col">설명</th>
			</tr>
		</thead>
		<tbody>
			<tr class="nec">
				<th scope="row">id:</th>
				<td>[string]</td>
				<td>false</td>
				<td>.ui-select에 포함된 select의 아이디명 기입</td>
			</tr>
			<tr>
				<th scope="row">current:</th>
				<td>[number]</td>
				<td>null</td>
				<td>select option 선택</td>
			</tr>
			<tr>
				<th scope="row">customscroll:</th>
				<td>[boolean]</td>
				<td>true</td>
				<td>custom scroll 적용</td>
			</tr>
			<tr>
				<th scope="row">callback:</th>
				<td>[function]</td>
				<td>false</td>
				<td>값 선택 시 콜백실행.</td>
			</tr>
		</tbody>
	</table>
</div>

		
				

		