<input type="hidden" id="uiJsName" value="pageTableCaption">

<div class="tit-catagory">
	Components Table
</div>

<div class="tit-wrap">
	<h1 class="h-1">Table Caption</h1>
</div>
<p class="txts-m">좀 더 자세하고 정확하게 표현하기 위해 strong 안에 테이블의 간략한 제목 기입과 <br>
	p.ui-caption 태그안에는 자동으로 테이블의 모든 th의 항목텍스트를 기입하여 테이블을 설명합니다.<br>
	예) 번호, 제목, 이름, 아이디, 날짜 정보입니다.
</p>	

<h2 class="h-2">Examples</h2>
<div class="tbl-base type-discription">
	<table>
		<caption>
			<strong>테이블의 제목</strong>
			<p class="ui-caption"></p>
		</caption>
		<colgroup>
		<col class="col-th">
		<col class="col-auto">
		</colgroup>
		<thead>
			<tr>
				<th scope="col">title A</th>
				<th scope="col">title B</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">title C</th>
				<td>content....</td>
			</tr>
		</tbody>
	</table>
</div>

<h2 class="h-2">HTML Structure</h2>	
<div class="box-code">
<pre>
<code>
&lt;caption&gt;
&lt;strong&gt;테이블의 제목&lt;/strong&gt;
&lt;p class="ui-caption"&gt;[자동으로 테이블의 th의 제목이 들어감]&lt;/p&gt;
&lt;/caption&gt;
</code>
</pre>
</div>


<h2 class="h-2">Javascript</h2>
<h3 class="h-3">$plugins.uiCaption</h3>
<div class="box-code">
<pre>
<code>
$plugins<span class="na">.uiCaption</span>();
</code>
</pre>
</div>	